@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Syne:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
 }   

:root {
    font-family: 'Syne', sans-serif;
    scroll-behavior: smooth;
}

/* body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.header {
    height: 250px;
    width: 100%;
    padding: 0 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    gap: 70px;
}

.header-nav i {
    font-size: 70px;
    display: none;
}

#toggle-menu {
    display: none;
}

.header img {
    margin: 25px 0;
    padding: 10px;;
    height: 200px;
    border-radius: 50%;
    border: solid #23232373 2.5px
}

.header-links {
    display: flex;
    gap: 70px;
    cursor: pointer;
}

.header-links a {
    color: white;
    font-size: large;
}

.header-links li {
    padding: 10px 25px;
    transition: all 1.5s;
}

.header-links li:hover {
    border-bottom: solid 1.5px rgba(147, 86, 86, 0.492) ;
    background-color: #1716163b;
    border-radius: 5px ;
    transition: all .5s;
}

.hero-video {
    margin-bottom: 25px;
}

.hero-video video {
    width: 100%;
}


.hero {
    margin: 0 5rem 0 5rem;
    padding: 15rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    cursor: pointer;
    border: solid 1px #2323234e;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

}

.hero h1:hover {
    color: rgba(0, 0, 0, 0.784);
}

.hero-info {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.hero-info p {
    max-width: 600px;
}

.about {
    margin: 1rem 10rem 1rem 10rem ;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.about span {
    color: black;
    font-weight: 600;
    text-transform:uppercase;
}

.about a {
    text-decoration: none;
    color: black;
}


#banda {
    padding: 40px;
    background-color: rgb(0, 0, 0);
    margin: 0 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: white;
    border-radius: 10px;
}

.integrantes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 70px;
}

.card {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    color: white;
    border: solid 3px rgba(234, 228, 228, 0.116);
    border-radius: 25px;
    transition: all 1.5s;
}

.card:hover {
    background-color: rgba(229, 237, 234, 0.188);
    transition: all 1.5s;
}

.card img {
    margin: 20px;
    width: 300px;
    height: 300px;
    border-radius: 15px;
}

#contact {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.form-contact {
    margin: 10rem 5rem;
    padding: 50px 55px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-group {
    outline: none;
    display: flex;
    flex-direction: column;
}

.input-group input, textarea {
    outline: none;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    border: solid 1px #1716163b;
    text-align: center;
    transition: all 1s;
}

.input-group textarea {
    height: 120px;
    max-width: 100%;
    min-width: 100%;
    min-height: 120px;
    max-height: 240px;
}

.input-group input:hover {
    background-color: rgba(245, 245, 220, 0.19); 
    transition: all 1s;
}

.input-group textarea:hover {
    background-color: rgba(245, 245, 220, 0.19);
    transition: all 1s;
}

.btn {
    width: 170px;
    height: 35px;
    border-radius: 7px;
    border: solid 1px #1716163b;
    box-shadow: 0 0 10px rgba(88, 84, 84, 0.195);
    background-color: #692a2a27;
    color: grey;
    font-weight: 600;
    transition: all 1.5s;
}

.btn:hover {
    background-color: rgba(128, 128, 128, 0.364);
    color: rgb(34, 31, 31);
    transition: all 1.5s;
}

.footer {
    height: 250px;
    width: 100%;
    background-color: #232323;
    display: flex;
    align-items: center;
    justify-content: center;
}


.nav-footer {
    color: white;
    display: flex;
}

.nav-footer ul {
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: center;
    text-decoration: none;
}

.nav-footer ul>li:first-child {
    font-weight: 600;
}

.nav-footer a {
    color: white;
    text-transform: uppercase;
}

@media (max-width: 1080px) {

    .header {
        margin: 0;
        padding: 0;
        height: 150px;
        max-width: 100%;
        padding: 25px;
        gap: 10px;
    }

    .header img {
        width: 100px;
        height: 100px;
    }

    .hero {
        margin: 50px;
        padding: 50px;
        flex-direction: column;
        gap: 25px;
    }

    .hero-info {
        text-align: center;
    }

    .hero-info p {
        max-width: 450px;
    }

    .about {
        padding: 40px;
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        text-align: left;
        background-color: #ebebeb35;
        border: solid 1px #2323231d;
        border-radius: 5px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.11);
    }

    .about p {
        width: 800px;
    }

}

@media (max-width: 768px) {

    .header {
        background-color: white;
        position: sticky;
        top: 0;
    }

    .header img {
        border: none;
        width: 100px;
        height: 100px;
    }

    .header ul {
        background-color: rgb(0, 0, 0);
        width: 100vw;
        height: calc( 100vh - 150px);
        position: absolute;
        top: 150px;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 100px;
        transform: translatex(200%);
        transition: all 0.4s ease-out;
        display: none;
    }

    .header-nav i {
        display: block;
    }

    #toggle-menu:checked + .header-links {
        transform: translateX(0%);
        transition: all 0.4s ease-in;
        display: flex;
        background-color: white;
    }

    .header-links a {
        color: black;
        font-weight: 600;

    }

    .hero {
        margin: 25px;
    }

    .about {
        margin: 25PX;
        Max-width: 750px;
        
    }

    .form-contact {
        margin: 100px 25px;
    }

}
