@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /* border: solid red 1px; */
 }   

:root {
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.body {
    display: flex;
    flex-direction: column;
    gap: 150px;
}

/* HEADER - MENU - LOGO - FINAL*/

.header {
    height: 100px;
    width: 100%;
    position:-webkit-sticky;
    position:sticky;
    top: 0;
    padding: 0 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    gap: 70px;
    z-index: 2;
    -webkit-animation: background-header 0.5s;
            animation: background-header 0.5s;
}

.h-navbar i {
    font-size: 20px;
    display: none;
    color: #ffffff;
}

#toggle-menu {
    display: none;
}

.header img {
    margin: 25px 0;
    padding: 10px;;
    height: 75px;
    opacity: 0;
    -webkit-animation: fadein 1s forwards, slide-down 1s forwards;
            animation: fadein 1s forwards, slide-down 1s forwards;
    transition: all 2s;
}

.h-navbar__items {
    display: flex;
    gap: 70px;
    cursor: pointer;
    opacity: 0;
    -webkit-animation: fadein 1s forwards, slide-down 1s forwards;
            animation: fadein 1s forwards, slide-down 1s forwards;
    transition: all 1s;
}

.h-navbar__items a {
    color: white;
    font-size: large;
}

.h-navbar__items li {
    padding: 10px 25px;
    border-bottom: solid 1.5px black ;
    transition: all .5s ease-in;
}

.h-navbar__items li:hover {
    border-bottom: solid 1.5px rgba(255, 0, 0, 0.486) ;
    transition: all .5s ease-in;
}

/* HERO & PORTADA - VIDEO e INFO */

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero {
    margin: 150px auto;
    padding: 10px;;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    gap: 20px;
    flex-wrap: wrap;
}

#hero iframe {
    border-radius: 15px;
    opacity: 0;
    -webkit-animation: fadein 1.5s forwards, scale 1.5s ease-in-out;
            animation: fadein 1.5s forwards, scale 1.5s ease-in-out;
    transition: all 2.5s;
    max-width: 450px;
}

.hero__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    max-width: 450px;
}

.hero__title {
    -webkit-animation: fadein 1.5s forwards, slide-up 1.5s;
            animation: fadein 1.5s forwards, slide-up 1.5s;
    transition: all 2s;
}

.hero__subtitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    opacity: 0;
    -webkit-animation: fadein 1.5s forwards, slide-up 1.5s;
            animation: fadein 1.5s forwards, slide-up 1.5s;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
    transition: all 1.5s;
}

.hero__subtitle p {
    max-width: 600px;
    transition: all 1.5s;
}

.hero__btns {
    display: flex;
    gap: 10px;
    opacity: 0;
    -webkit-animation: fadein 1.5s forwards, slide-up 1.5s;
            animation: fadein 1.5s forwards, slide-up 1.5s;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    transition: all 1.5s;
}

.hero__video video {
    width: 100%;
}

/* NOSOTROS - ABOUT - INFO ADICIONAL */

#bio {
    padding: 150px 25px 0 25px;
}

.bio__info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 175px;
    color: black;
}

.bio__title {
    text-align: center;
}

.bio__subtitle {
    max-width: 600px;
}

.bio__info span {
    color: crimson;
    text-transform:uppercase;
}

/* Spotify - Lista de Reproducción */

.list_spotify {
    margin: 150px 0;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.048);
    border-radius: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}

.list_spotify iframe {
    width: 400px;
}

.list_spotify--title {
    font-weight: 400;
}

/* BANDA - INTEGRANTES & CARDS */


#banda {
    padding: 50px;
    margin: 0 2px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: white;
}

.banda__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
    flex-wrap: wrap;
}

.card {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    border: solid 2px rgba(255, 255, 255, 0.02);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.02);
    border-radius: 25px;
    transition: all 1.5s;
}

.card__info {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card__items {
    display: flex;
    justify-content: space-between;
}

.card__items a {
    color: rgba(255, 0, 149, 0.473);
}

.card:hover {
    background-color: rgba(225, 98, 98, 0.056);
    transition: all 1.5s;
}

.card img {
    margin: 15px 7px;
    width: 180px;
    height: 180px;
    border-radius: 15px;
}


/* FORMULARIO - CONTACTO */

#contact {
    margin: 150px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.contact__info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 125px;
    flex-wrap: wrap-reverse
}

.contacto ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact__form {
    padding: 25px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-group {
    outline: none;
    display: flex;
    flex-direction: column;
}

.input-group input {
    outline: none;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    border: solid 1px #1716163b;
    text-align: center;
}

.input-group textarea {
    margin-top: 20px;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    min-width: 350px;
    max-width: 350px;
    min-height: 100px;
    max-height: 100px;
    border: solid 1px #1716163b;
    text-align: center;
}

.btn {
    margin-top: 20px;
    width: 170px;
    height: 35px;
    border-radius: 7px;
    border: solid 2px #f7b3b31a;
    background-color: #e60f0f1b;
    color: Grey;
    font-weight: 600;
    transition: all 1.5s;
}

.btn a {
    color: grey;
}

.btn:hover {
    background-color: rgba(220, 20, 60, 0.02);
    color: rgb(34, 31, 31);
    transition: all 1.5s;
}

/* FOOTER - INFO y MAS */

.footer {
    height: 100px;
    width: 100%;
    background-color: #232323;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer a {
    color: white;
}

.footer-redes {
    display: flex;
    gap: 40px;
}

/* MEDIAQUERIES */

@media (max-width: 1080px) {

    .header {
        height: 75px;
        padding: 25px;
        gap: 10px;
    }

    .header img {
        height: 75px;
    }

    .h-navbar {
        gap: 25px;
    }

    .hero__video {
        margin-bottom: 20px;
        opacity: 0;
        -webkit-animation: fadein 2s forwards;
                animation: fadein 2s forwards;
        -webkit-animation-delay: 2s;
                animation-delay: 2s;
    }

    #hero {
        padding-top: 25px;
        padding-bottom: 25px;
        flex-direction: column;
        margin: 0;
        border-radius: 0;
        border: 0;
        box-shadow: none;
    }

    #hero iframe {
        display: none;
    }

    .hero__info {
        flex-direction: column;
        gap: 25px;
    }

    .hero__subtitle {
        text-align: center;
    }

    .hero__subtitle p {
        max-width: 400px;
        text-align: center;
    }

    #bio {
        padding-top: 25px;
    }

    .bio__info {
        display: flex;
        justify-content: center;
        gap: 50px;
    }

    .bio__info p {
        max-width: 600px;
        font-size: 1rem;
    }

    #banda {
        margin: 25px;
        border-radius: 15px;
    }

}

@media (max-width: 768px) {

    .header {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }

    .header img {
        height: 75px;
    }

    #hero {
        margin: 75px 0;

    }

    .h-navbar__items {
        opacity: 1;
        -webkit-animation: slide-up 0s, fadein 0s;
                animation: slide-up 0s, fadein 0s;
    }

    .h-navbar__items {
        background-color: white;
        width: 100%;
        height: calc( 100vh - 75px);
        position: absolute;
        top: 75px;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 70px;
        transform: translateX(200%);
        transition: all .5s ease-out;
        display: none;
    }

    .h-navbar i {
        display: block;
        color: white;
    }

    #toggle-menu:checked ~ .h-navbar__items {
        transform: translateX(0%);
        transition: all .5s ease-in;
        display: flex;
    }

    .h-navbar__items a {
        color: black;
    }

    .h-navbar__items li {
        padding: 10px 25px;
        border-bottom: solid 1.5px rgb(255, 255, 255) ;
        transition: all .5s ease-in;
    }

    #bio {
        margin-bottom: 75px;
    }

    .bio__info {
        margin-top: 50px;
        flex-direction: column;
        gap: 25px;
    }

    .list_spotify {
        margin: 50px;
        margin-bottom: 100px;
        padding: 150px 0;
        background-color: white;
        box-shadow: 0 0 20px rgba(238, 133, 133, 0.7);
        border-radius: 0%;
    }

}

@media (max-width: 615px) {

    .list_spotify {
        margin: 100px 0;
        margin-top: 50px;
        padding: 50px 0 50px 0;
        background-color: black;
        color: white;
        border-radius: 0%;
    }


    #banda {
        padding: 0;
        margin: 0;
        background-color: white;
        color: black;
    }

    .card {
        border: solid 2px rgba(0, 0, 0, 0.137);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        color: black;
    }

   .form-contact {
    margin: 0 10px 60px 10px;
    padding: 5;
   }
}

/* ANIMACIONES */

@-webkit-keyframes slide-up {
    from {
        transform: translateY(250px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes slide-up {
    from {
        transform: translateY(250px);
    }
    to {
        transform: translateY(0px);
    }
}

@-webkit-keyframes slide-down {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes slide-down {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0px);
    }
}

@-webkit-keyframes slide-left {
    from {
        transform: translateX(1000px);
    }
    to {
        transform: translateX(0px);
    }
}

@keyframes slide-left {
    from {
        transform: translateX(1000px);
    }
    to {
        transform: translateX(0px);
    }
}

@-webkit-keyframes scale {
    from {
        transform:scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes scale {
    from {
        transform:scale(0);
    }
    to {
        transform: scale(1);
    }
}
    
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
    
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
  