body {
    background: #870000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #190A05, #870000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #190A05, #870000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.contact__info--login {
    background-color: rgba(244, 234, 234, 0.807);
    opacity: 0;
    animation: fadein 2.5s forwards;
}

.btn--secondary {
    background-color: rgba(168, 66, 86, 0.447);
    color: rgba(0, 0, 0, 0.615);
}

.contact__form--login p {
    font-weight: 600;
}

.contact__form--login a {
    font-weight: 400;
    color: black;
}

.h-navbar__items {
    display: none;
}

.h-navbar i {
    display: block;
    color: white;
}